{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" />
  <h1 class="site-title">Comparing Global Indicators During Covid-19</h1>
  <br>
  <p class="subtitle">A Demo using Dash, Plotly, and Flask (View source on <a href="https://github.com/toddbirchard/plotlydash-flask-tutorial">Github</a>).</p>
  <a href="/dashapp/" class="dash-link">
    <span>Checkout the dashboard</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
{% endblock %}
